<a class="tab" href="#add">
	<fieldset> 
		<legend>Add Time</legend>
		<div class="tab-text">
			<p>Add Time of MV</p>
		</div>
	</fieldset>
</a>
<a class="tab" href="#edit">
	<fieldset>
		<legend>Edit MV</legend>
		<div class="tab-text">
			<p>Edit of Daily MV</p>
		</div>
	</fieldset>
</a>
<a class="tab" href="#list">
	<fieldset>
		<legend>Daily MV</legend>
		<div class="tab-text">
			<p>List of Daily MV</p>
		</div>
	</fieldset>
</a>

<a class="tab" href="#list">
	<fieldset> 
		<legend>Charts</legend>
		<div class="tab-text">
			<p>Statistics</p>
		</div>
	</fieldset>
</a>