<a class="tab" href="#add">
	<fieldset> 
		<legend>Add Time</legend>
		<div class="tab-text">
			<p>Add Time of MV</p>
		</div>
	</fieldset>
</a>
<a class="tab" href="#list">
	<fieldset>
		<legend>List of Movements</legend>
		<div class="tab-text">
			<p>List of Movements</p>
		</div>
	</fieldset>
</a>
<a class="tab" href="#duedate">
	<fieldset>
		<legend>Due Date</legend>
		<div class="tab-text">
			<p>Due Date</p>
		</div>
	</fieldset>
</a>

<a class="tab" href="#charts">
	<fieldset> 
		<legend>Charts</legend>
		<div class="tab-text">
			<p>Statistics</p>
		</div>
	</fieldset>
</a>