<form>
	<div>
		<label>Estimated Due Date</label>
		<input type="text" name="dueDate" value="{{dueDate}}"/>
	</div>
	<p> Or </p>
	<div>
		<label>First day of last menstrual period</label>
		<input type="text" name="fdlmp" value="{{fdlmp}}"/>
	</div>
	
	<input type="submit" class="submitButton" value="Add"/>
</form>