
<form>
	<div>
		<label>Date</label>
		<input type="text" name="date" value="{{date}}"/>
	</div>
	<div>
		<label>Hour</label>
		<input type="text" name="hour" value="{{hour}}"/>
	</div>
	<div>
		<label>Minute</label>
		<input type="text" name="minute" value="{{minute}}"/>
	</div>
	
	<input type="submit" class="submitButton" value="Add"/>
</form>