
<form>
	<div>
		<label>Date</label>
		<input type="text" name="date"/>
	</div>
	<div>
		<label>Hour</label>
		<input type="text" name="date"/>
	</div>
	<div>
		<label>Minute</label>
		<input type="text" name="date"/>
	</div>
	<input type="hidden" value={{item._id}}/>
	
	<input type="submit" class="buttonSubmit" value="Add"/>
</form>